@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
}

/* ============ Startseite konzipieren ================= */

#startseite{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
}
#mainseite{grid-area: main;}

/* ==================== Header CSS =============================== */

#ind_header {
    display: flex;
    grid-area: header;
    justify-content: space-between;
    padding: 10px;
    background-image: linear-gradient(180deg,#e98c48, #ffa15c);
}
.ind_header__titel {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ind_header__titel i {
    padding: 5px;
    font-size: 25px;
    color: white;
}
.ind_header__titel i:hover {
    cursor: pointer;
}
.ind_header__titel h3 {
    padding: 5px;
    color: white;
}

/* ============= Generelle Layout für Startseite Element ================ */

#mainseite, #mainseite__infor, #mainseite__biolektion,#mainseite_modul,
#mainseite__bioübung, #mainseite__geolektion, #mainseite__geoübung
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mainseite{
    padding: 10px;
    background-color: #ffc57e;
}

.mainseite_image {
    padding: 1rem;
}

#mainseite__biolektion, #mainseite__bioübung, #mainseite__geolektion, #mainseite__geoübung{
    width: 100%;
    height: auto;
    padding: 1rem;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color:#eaa146;
}
.fa-star {color: #47665D;}
.mainseite__modulBackground{border-radius: 0;}

.mainseite_absatz {color: rgb(224, 224, 224);}

.mainseite__spring_link {
    color: yellow;
    margin-top: 10px;
}

/* ================ Navigation Bar umgehen ================== */

#navigation{
    grid-area: nav;
    background-image: linear-gradient(0deg,#e98c48, #ffa15c);;
    padding: 3px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.div-nav {
    display: none;
}
.navigation__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}
#toggle {
    color: white;
    text-align: right;
    font-size: 25px;
}
#toggle:hover{
    cursor: pointer;
    opacity: 0.8;
}
.navigation__list__item {
    background-color: none;
    margin-bottom: 1rem;
}
.navigation__list__item > a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
}
.navigation__list__item > a:hover {
    background-color: rgb(245, 125, 0);
}

/* ================================= Hier faengt Lektion Geography an ==================================*/

#geo_lektion_body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
        'header'
        'nav'
        'section'
        'article'
        'zusatz'
        'aside'
        'footer';
}

#geo_section {
    grid-area: section;
    padding: 7px;
}
#geo_section__frame1, div#geo_section__learnwithfoto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

div#geo_section__learnwithfoto, #geo_section__frame1, #geo_article__asian,
#geo_article__europe, #geo_article__americas {
    border-radius: 5px;
}

#geo_section__frame1 {
    background-color: #ffc57e;
}
#geo_section__frame1 > h2 {
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
}

iframe#flag_youtubeVideo {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    margin: 10px 0;
}

div#geo_section__learnwithfoto {
    margin-top: 10px;
    background-color: #ffc57e;
}
.kontinente_content {
    display: none;
    padding: 20px 100px;
    animation: wirkung_anzeig 2s ease-out;
}

@keyframes wirkung_anzeig {
    from {
        transform: translateX(-25%);
    }
    to {
        transform: translateX(0);
    }
}
figcaption > a {
    color: rgb(52, 152, 219);
    text-decoration: none;
}
.page1{
    display: block;
}

.continent {
    width: auto;
    height: auto;
}
#geo_section__learnwithfoto__content__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.button {
    padding: 5px 10px;
    margin-right: 10px;
    width: 100px;
    background-image: linear-gradient(to bottom right, rgb(205, 220, 57),rgb(255, 238, 88) );
}
.button:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* =========================== Geography Article konzipieren =================================== */

#geo_article {
    grid-area: article;
    padding: 7px;
}

#geo_article__asian,
#geo_article__europe,
#geo_article__americas
 {
    padding: 10px 15px;
    margin-bottom: 5px;
}

#geo_article__asian, #geo_article__americas, #geo_article__europe {
    background-color: #ffc57e;
}
   
.geo_article__einfuhrung, figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.geo_article__flag {
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 3px 3px;
    max-height: 300px;
    overflow-y: auto;
    margin: 0.5em 0;
}
.flag_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 4px 4px;
    max-width: 100px;
    background-color: #eaa146;
}
.flag_box p {
    font-size: 0.6em;
    font-weight: 600;
}
.flag_image {
    max-width: 100%;
    height: auto;
    border-radius: 0px;
}

#geo_article__kurzubung {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#quizz_zeichen {
    font-size: 2rem;
    animation-name: bewegen;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
}
.geo_article__kurzubung__layout{
    display: none;
    padding: 1rem;
    margin-bottom: 10px;
    background-color: #eaa146;
    animation: ubung_wirkunganzeig 2s ease-in-out;
}

.layout1 {
    display: block;
}
@keyframes ubung_wirkunganzeig {
    from {
        transform: translateX(-10%);
    }
    to {
        transform: translateY(0%);
    }
}
.quizz_flag_img {
    height: auto;
    width: 100%;
}
.anwort_button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.aussage_button {
    padding: 5px 10px;
    width: 100px;
    border-radius: 0.6rem;
    margin: 0.7rem 0.1rem;
}
.aussage_button:hover{
    cursor: pointer;
    background-image: linear-gradient(to right, rgb(0, 188, 212),rgb(0, 96, 100));
}
.antwort {
    display: none;
    border-left: 6px solid greenyellow;
    padding: 10px;
    background-color: white;
    animation: anwort_wirkunganzeig 2s infinite;
}

@keyframes anwort_wirkunganzeig {
    from  {
        background-color: rgb(100, 221, 23);
    }
    to {
        background-color: rgb(178, 255, 89);
    }
}
.falsch {
    border-left: 6px solid red;
    animation: falsche_wirkunganzeig 2s infinite;
}

@keyframes falsche_wirkunganzeig{
    from  {
        background-color: rgb(255, 61, 0);
    }
    to {
        background-color: rgb(255, 158, 128);
    }
}

.geo_article__kurzubung__layout p {
    text-align: center;
    margin: 5px 0;
}
.antwort > p{
    padding: 5px 10px;
}

/* =========================== Geography Article Europe CSS konzipieren ========================== */

#geo_article__hauptstadt__table {
    border: 1px solid;
    width: 100%;
    border-collapse: collapse;
}
th, td{
    font-size: 12px;
    border: 1px solid;
}
th {
    padding: 0.7em;
}
th:hover{
    background-color: rgb(241, 196, 15);
}
td {
    padding: 5px;
}
td:hover {
    background-color: rgb(0, 175, 240);
}

.geo_article__europe__ubung_layout{
    background-color: #eaa146;
    padding: 1rem;
    
}
#blau_markieren{
    background-color: rgb(0, 153, 255);
}
#rot_markieren{
    background-color: red;
}
/* =============================== Americas CSS konzipieren =============================== */

#americas_infor {
    position: relative;
    margin-bottom: 1rem;
}
#americas_bilder {
    margin-top: 5px;
    width: 100%;
    height: auto;
    z-index: -3;
}
#icon-pre, #icon-next {
    position: absolute;
    top: 45%;
    cursor: pointer;
    z-index: 1;
    font-size: 2rem;
    color: whitesmoke;
}
#icon-pre{
    left: 10px;
}
#icon-next{
    right: 10px;
}
#lightbulb {
    font-size: 2rem;
    color: yellow;
    animation-name: bewegen;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}
@keyframes bewegen {
    0% {transform: rotate(-20deg);}
    50% {transform: rotate(0deg);}
    100% {transform: rotate(20deg);}
}
#americas_absatz{
    padding: 0 5rem;
}

/* ============================== Bilder Quelle container =============================  */

#geo_pictureQuell{
    grid-area: zusatz;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eaa146;
    padding: 1rem 0;
}
#geo_pictureQuell > ol {
    list-style-type: decimal-leading-zero;
}

#geo_pictureQuell > ol > li {
    margin-bottom: 10px;
}

ol > li > a {
    color: black;
}
#geo_aside {
    grid-area: aside;
}
#geo_aside, #geo_ubung_leftContent {
    background-color: #ffc57e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

/* ============================== Aside container =============================  */

#aside_agendseite ul, #geo_ubung_leftContent__Ubungliste ul{
    list-style-type: none;
}
.agend_list, .leftContent__list{
    padding: 3px;
    box-shadow: -3px -5px 5px 5px #ff8c00;
    margin-bottom: 10px;
}
.agend_list:hover, .leftContent__list:hover{
    background-color: rgb(245, 125, 0);
}
.agend_list > a, .leftContent__list > a{
    color: black;
    text-decoration: none;
    padding: 3px;
}

/* ===================== Footer für alle Seite Css ====================== */

#footer {
    grid-area: footer;
    padding: 10px;
    background-image: linear-gradient(135deg,#e98c48, #ffa15c);
}

#footer-oben, #footer-unten {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#footer-oben {
    align-items: center;
    margin: 1rem 0;
}

#footer-unten {
    justify-content: space-between;
    align-items: center;
    padding: 3px;
}

address {
    margin: 1rem 0;
}
address > p, #footer-sociallink > p{
    font-size: 0.8rem;
}

.socialsymbol {
    height: 1.2rem;
    width: 1.2rem;
    margin-left: 4px;
}

/* ================================= CSS Geographie Übung ============================== */

#geo_ubung_body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
    'header'
    'nav'
    'mainContent'
    'leftContent'
    'footer';
}

/* ========================== CSS in GeoÜbung leftContetn ==================================*/

#geo_ubung_leftContent {
    grid-area: leftContent;
    justify-content: flex-start;  
}

/* ============================== CSS in Maincontent ======================================= */

#geo_ubung_mainContent{
    grid-area: mainContent;
    padding: 3px;
}

#geo_ubung_mainContent, #mainContent__aufgabe1,
.mainContent__aufgabe__antwort
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#mainContent__titel, #mainContent__aufgabe1, #mainContent__aufgabe2{
    border-radius: 5px;
    padding: 10px;
    background-color: #ffc57e;
}

#mainContent__titel_merkung, #mainContent__aufgabe2__review {
    background-color: #ffa15c;
    border-radius: 3px;
    padding: 1rem;
}
#mainContent__titel_merkung > ul { list-style-type: square;}
#mainContent__titel > a {text-align: center;}
#hand-right{margin-right: 5px;}

b, p > strong {
    color: blueviolet;
    text-decoration: underline;
}

.mainContent__aufgabe__antwort, #aufgabe1_hinweis{
    background-color: rgb(255, 209, 128);
    min-height: 100px;
    border-radius: 5px;
}
#commit, .click_button  {
    background-color: rgb(245, 125, 0);
    color: whitesmoke;
    font-weight: bold;
    border-radius: 5px;
}
#antwort-richtig,#antwort-falsch {
    border-left: 4px solid rgb(118, 255, 3);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    display: none;
    color: white;
    font-weight: bold;
    padding: 3px;
}
#antwort-richtig {
    background-image: linear-gradient(90deg, rgb(118, 255, 3), rgb(204, 255, 144));
}
#antwort-falsch{
    border-left: 4px solid rgb(255, 61, 0);
    background-image: linear-gradient(135deg, rgb(255, 158, 128), rgb(255, 110, 64));
}
#check-richtig, #check-falsche {
    border-radius: 50%;
    border: 2px solid;
    font-size: 2rem;
    padding: 5px;
    color: white;
    border-color: white;
    margin-right: 5px;
}

.fa-regular {
    font-size: 2rem;
    margin-left: 5px;
}
#aufgabe1_hinweis {padding: 1rem;}
#aufgabe1_hinweis > h3:first-child {
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: underline;
    color: rgb(32, 178, 170);
}

.aufgabe1-antwort-hinweis {
    display: none;
    text-align: justify;
}
#mainContent__aufgabe2__review ul li{
    margin-bottom: 1rem;
}
#aufgabe2_background {
    background-image: url(../ressources/geo_aufgabe2/racingrace.png);
    position: relative;
    width: 350px;
    height: 550px;
}
#game_Buttonsteuerung{
    top: 40%;
}
#game_Buttonsteuerung__start, #game_Buttonsteuerung__reset{
    width: 95px;
    height: 35px;
    background-color: brown;
    color: whitesmoke;
}
#game_show_winner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    padding: 10px;
    width: 350px;
    top: 5rem;
}
.fa-trophy {
    font-size: 4rem;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid rgb(255, 64, 129);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    padding: 0.7rem;
    color: white;
    background-color: rgb(255, 64, 129);
    z-index: 1;
}
.box, #racing_car, #ziel_flag,#game_Buttonsteuerung, #game_show_winner{
    position: absolute;
}
.box1, .box2, .box3, .box4, .box5 {
    right: 165px;;
    display: none;
}

.box1{top: 90px;}
.box2{top: 180px;}
.box3{top: 270px;}
.box4{top: 360px;}
.box5{top: 450px;}

#racing_car {
    top: 5px;
    right: 165px;
    color: #63E6BE;
    font-size: 2rem;
}
#ziel_flag {
    bottom: 1.5rem;
    right: 42%;
    max-width: 3.5rem;
    max-height: 3.5rem;
}

.aufgabe2_question{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 10%;
    bottom: 15%;
    z-index: 3;
    background-color:bisque;
    padding: 0.5rem;
}
.aufgabe2_question__img {
    width: 100%;
    height: 200px;
}

#aufgabe3_background {
    position: relative;
    background-image: url(../ressources/geo_aufgabe3/karte-background.jpg);
    height: 402px;
    width: 700px;
}

#aufgabe3_antwort_background {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 25px;
    top: 50px;
}
.antwort_karte {
    width: 8rem;
    height: 7rem;
    margin-right: 5px;
    cursor: pointer;
}

#fragen_karte {
    position: absolute;
    width: 8rem;
    height: 7rem;
    bottom: 5px;
    left: 40%;
}

h1,h2,h3,h4 {
    text-align: center;
}

figcaption {
    text-align: center;
    color: rgb(2, 119, 189)
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

p {
    text-align: justify;
    line-height: 1.5;
}

@media only screen and (min-width: 376px) and (min-height: 668px) and (max-width: 1920px) and (max-height: 1080px){

    #ind_header {height: 4rem;}
    
    #mainseite{padding: 0;}

    #mainseite__geolektion, #mainseite__geoübung,#mainseite__biolektion,
    #mainseite__bioübung {
        width: 100%;
        min-height: 500px;
        margin-right: 1rem;
        border-radius: 0;
        position: relative;    
    }
    #mainseite__infor {
        grid-area: maininfor;
        padding: 1rem 14rem;
    }
    #mainseite_modul{
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        padding: 1rem;
    }
    .mainseite_figureImg{max-width: 220px; }
    
    #mainseite__biolektion{
        grid-area: biolektion;
    }
    #mainseite__biolektion::after, #mainseite__biolektion::before,
    #mainseite__bioübung::after, #mainseite__bioübung::before,
    #mainseite__geolektion::after, #mainseite__geolektion::before,
    #mainseite__geoübung::after, #mainseite__geoübung::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.5s ease-in;

    }
    #mainseite__biolektion::after,#mainseite__bioübung::after,
    #mainseite__geolektion::after,#mainseite__geoübung::after {
        width: 100%;
        /* why 4px, because of border-width */
        height: calc(100% - 4px); 
        border-top: 4px solid rgb(211, 84, 0);
        border-bottom: 4px solid rgb(211, 84, 0);
        transform: scaleX(0);
    }

    #mainseite__biolektion:hover::after,#mainseite__bioübung:hover::after,
    #mainseite__geolektion:hover::after,#mainseite__geoübung:hover::after{
        transform: scaleX(1);
        cursor: pointer;
    }

    #mainseite__biolektion::before,#mainseite__bioübung::before,
    #mainseite__geolektion::before, #mainseite__geoübung::before  {
        /* why 8px, dank der Erfahrung :)*/
        width: calc(100% - 8px); 
        height: 100%; 
        border-left: 4px solid rgb(211, 84, 0);
        border-right: 4px solid rgb(211, 84, 0);
        transform: scaleY(0);
    }
    #mainseite__biolektion:hover::before,#mainseite__bioübung:hover::before,
    #mainseite__geolektion:hover::before,#mainseite__geoübung:hover::before{
        transform: scaleY(1);
        transition-delay: 0.5s;  
    }

    #mainseite__bioübung{ grid-area: bioubung;}
    #mainseite__geolektion{ grid-area: geolektion; }
    #mainseite__geoübung{grid-area: geoubung;}
   
    .mainseite_image > img {
        width: 640px;
        height: 427px;
    }
    .mainseite__spring_link{
        position: relative;
        z-index: 2;
    }
    /* ============= Navigation Bar konzipieren ===============*/

    #navigation {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 50px;
    }

    .navigation__list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-grow: 2;
    }

    #nav_content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 2;
    }
    #toggle {
        display: none;
    }
    
    .navigation__list__item {
        margin: 0px 16px;
    }
    
    /* ============ Geography Lernseite hier anfangen ===== */
    #geo_lektion_body {
        grid-template-columns: 15% 65% 20%;
        grid-template-areas:
        'header header header'
        'nav nav nav'
        'section section aside'
        'article article aside'
        'zusatz zusatz zusatz'
        'footer footer footer' ;
    }
    #geo_ubung_body {
        display: grid;
        grid-template-columns: 15% 70% 15%;
        grid-template-areas: 
        'header header header'
        'nav nav nav'
        'mainContent mainContent leftContent'
        'footer footer footer';
    }
    #geo_section {
        padding: 2rem 8rem;
    }

    #geo_section__frame1 {
        padding: 1.5rem 10rem;
        border-width: 5px;
    }

    iframe#flag_youtubeVideo {
        width: 500px;
        height: 300px;
    }
    div#geo_section__learnwithfoto {
        padding: 2rem 10rem;
        border-width: 5px;
    }

    .continent {
        max-width: 400px;
        max-height: 400px;
    }

    .geo_article__kurzubung__layout {
        width: 500px;
        height: auto;
    }
    #geo_article {
        padding: 2rem 8rem;
    }
    #geo_article__asian, #geo_article__europe, #geo_article__americas
    {
        margin-bottom: 0.5em;
        padding: 2rem 10rem;
        border-width: 5px;
    }
    .geo_article__flag {
        gap: 10px 10px;
        max-height: 300px;
        margin-top: 15px;
        padding: 10px 30px;
    }
    .flag_box {
       max-width: 230px; 
       height: 200px;
       align-items: center;
    }
    .flag_box p {
        font-size: 1em;
    }
    #europe_bild, #asian_bild, #americas_bild {
        max-width: 70%;
        max-height: auto;
        margin: 30px 0;
        
    }
    /* ============== Europe Sehenschwürdigkeiten mit Tabelle konzipieren =============*/
  
    #geo_article__hauptstadt__table {
        border: 3px solid; 
    }
    th, td {
        font-size: 1rem;
        border-width: 3px;
    }
    .landen_hauptstadt {
        max-width: 200px;
        max-height: 200px;
    }
    td img:first-child:hover{
        max-width: 400px;
        max-height: 400px;
    }
    /* =========== Geography Americas ========= */

    #americas_bilder {
        width: 100%;
        height: auto;
    }
    /* =========== Lernseite Aside  CSS konzipieren ==========*/
    #geo_aside, #geo_ubung_leftContent{
        justify-content: start;
        max-height: 1080px;
        position: sticky;
        top: 2rem;
    }
    .agend_list{
        padding: 3px;
        margin-bottom: 5rem;
    }

    #geo_pictureQuell {
        position: relative;
        z-index: 1;
    }

    /* ================== Geography Ubungseite ================== */
    #mainContent__titel, #mainContent__aufgabe1, #mainContent__aufgabe2{padding: 3rem 6rem;}
    #mainContent__aufgabe2{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /* ============= Footer CSS konzipieren ================ */
    #footer {
        position: relative;
        z-index: 1;
    }
    #footer-unten, #footer-oben{
        flex-direction: row;
        justify-content: space-around;
    }

    p, li, label, a, figcaption, address > p, #footer-sociallink > p {font-size: 1.1rem;}
}